################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NTBRenamer/bin/Debug/net9.0-windows/NTBRenamer.dll
/NTBRenamer/bin/Debug/net9.0-windows/NTBRenamer.exe
/NTBRenamer/obj/Debug/net9.0-windows/ref/NTBRenamer.dll
/NTBRenamer/obj/Debug/net9.0-windows/refint/NTBRenamer.dll
/NTBRenamer/obj/Debug/net9.0-windows/Windows/NTBRenamerWindow.baml
/NTBRenamer/obj/Debug/net9.0-windows/Windows/NTBRenamerWindow.g.i.cs
/NTBRenamer/obj/Debug/net9.0-windows/Windows/NTBRenamerWindow.g.cs
/NTBRenamer/obj/Debug/net9.0-windows/App.g.cs
/NTBRenamer/obj/Debug/net9.0-windows/App.g.i.cs
/NTBRenamer/obj/Debug/net9.0-windows/apphost.exe
/NTBRenamer/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.cs
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.AssemblyInfo.cs
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.AssemblyInfoInputs.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.assets.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.csproj.CoreCompileInputs.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.csproj.FileListAbsolute.txt
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.dll
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.g.resources
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.GeneratedMSBuildEditorConfig.editorconfig
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.genruntimeconfig.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.pdb
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer.sourcelink.json
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_Content.g.i.cs
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_drlvyhme_wpftmp.AssemblyInfo.cs
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_drlvyhme_wpftmp.AssemblyInfoInputs.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_drlvyhme_wpftmp.assets.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_drlvyhme_wpftmp.csproj.BuildWithSkipAnalyzers
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_drlvyhme_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_drlvyhme_wpftmp.GlobalUsings.g.cs
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_drlvyhme_wpftmp.sourcelink.json
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_MarkupCompile.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_MarkupCompile.i.cache
/NTBRenamer/obj/Debug/net9.0-windows/NTBRenamer_MarkupCompile.lref
/NTBRenamer/bin/Debug/net9.0-windows
/NTBRenamer/obj/Debug/net9.0-windows
/NTBRenamer/obj/NTBRenamer.csproj.nuget.dgspec.json
/NTBRenamer/obj/project.assets.json
/NTBRenamer/obj/project.nuget.cache
